<div class="profile">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="row">
                <div class="col tit-profile">Hola, Camila</div>
                <div class="col text-right">
                    <img src="../../../../assets/img/notifications.svg" alt="">
                </div>
            </div>
            <div class="inf">
                <div class="row">
                    <div class="col tit-img">Eres<br/>estratega</div>
                    <div class="col text-right">
                        <img class="imagen-profile" src="../../../../assets/img/imagen.svg" alt="">
                    </div>
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 sub-tit">Tu saldo</div>
                            <div class="col-12 saldo">$1.570.000</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="history"> 
                <div class="row col-12 border-inf center-vertical">
                    <div class="col-6">
                        <p>Inversión</p>
                    </div>
                    <div class="col-6">
                        <p class="data-right">$1.600.000</p>
                    </div>
                </div> 
                <div class="row col-12 border-inf center-vertical">
                    <div class="col-6">
                        <p>Inversión</p>
                    </div>
                    <div class="col-6">
                        <p class="data-right">$1.600.000</p>
                    </div>
                </div> 
                <!-- <div class="row">
                    <div class="row col-12 border-inf center-vertical">
                        <div class="col-6">
                            <p>Inversión</p>
                        </div>
                        <div class="col-6">
                            <p class="data-right">$1.600.000</p>
                        </div>
                    </div>
                </div>     
                <div class="row">
                    <div class="row col-12 border-inf center-vertical">
                        <div class="col-6">
                            <p>Inversión</p>
                        </div>
                        <div class="col-6">
                            <p class="data-right">$1.600.000</p>
                        </div>
                    </div>
                </div>      -->
            </div>
        </div>
    </div>
</div>