<!-- <div class="header text-center">
    hola
    <img src="../../../../assets/img/microsoft-teams.svg" alt="">
</div> -->

<div class="header text-center">
    <div class="container">
        <div class="row menu">
            <div class="col">
                <img src="../../../../assets/img/home.svg" alt="">
                <p>Inicio</p>
            </div>
            <div class="col">
                <img src="../../../../assets/img/history.svg" alt="">
                <p>Historial</p>
            </div>
            <div class="col">
                <div class="circle center-vertical">
                    <img class="add" src="../../../../assets/img/add.svg" alt="">
                </div>
                <p class="saving">Ahorrar</p>
            </div>
            <div class="col">
                <img src="../../../../assets/img/perfil.svg" alt="">
                <p>Mi perfil</p>
            </div>
            <div class="col">
                <img src="../../../../assets/img/more.svg" alt="">
                <p>Más</p>
            </div>
        </div>
    </div>
</div>