<div class="goals">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="row">
                <div class="col tit-profile">Tus metas</div>
                <div class="col text-right">
                    <img src="../../../../assets/img/add_circle.svg" alt="">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="table">
                <div class="row">
                    <div class="col-6">
                        <div class="card">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../../../assets/img/imagen_2.svg" alt="">
                                </div>
                                <div class="col-12">
                                    <p>Viaje a Islas Canarias</p>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-12 col-md-12 col-sm-6">
                                    <div class="progress" data-percentage="20">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                <p class="text-progress">20%</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-sm-6">
                                    <p class="p-first">$1.630.000</p>
                                    <p class="p-second">$8.000.000</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="card">
                            <div class="row">
                                <div class="col-12">
                                    <img src="../../../../assets/img/imagen_2.svg" alt="">
                                </div>
                                <div class="col-12">
                                    <p>Viaje a Islas Canarias</p>
                                </div>
                            </div> 
                            <div class="row">
                                <div class="col-12 col-md-12 col-sm-6">
                                    <div class="progress" data-percentage="20">
                                        <span class="progress-left">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <span class="progress-right">
                                            <span class="progress-bar"></span>
                                        </span>
                                        <div class="progress-value">
                                            <div>
                                                <p class="text-progress">20%</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-12 col-sm-6">
                                    <p class="p-first">$1.630.000</p>
                                    <p class="p-second">$8.000.000</p>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>