.notices{
    margin-bottom: 60px;
    .row{
        margin-bottom: 10px;
    }
    .prf-1{
        font-size: 14px;
        line-height: 21px;
        color: #817699;
    }
    .prf-2{
        margin-top: 5px;
        font-size: 10px;
        line-height: 14px;
        align-items: center;
        letter-spacing: -0.03em;
        color: #58506B;
    }
}