<div class="notices">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-8">
                    <p class="prf-1">10 gastos que debes evitar</p>
                    <p class="prf-2">Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.</p>
                </div>
                <div class="col-4">
                    <img src="../../../../assets/img/notices-1.svg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p class="prf-1">10 gastos que debes evitar</p>
                    <p class="prf-2">Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.</p>
                </div>
                <div class="col-4">
                    <img src="../../../../assets/img/notices-2.svg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <p class="prf-1">10 gastos que debes evitar</p>
                    <p class="prf-2">Aunque el 66% de los adultos recibió educación para el ahorro, apenas el 44% ahorra de manera fomal.</p>
                </div>
                <div class="col-4">
                    <img src="../../../../assets/img/notices-3.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>