<div class="video">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="row">
                <div class="col-12 tit-profile">Los P*t@s del ahorro</div>
            </div>
        </div>
        <div class="col-12">
            <div class="row table">
                <img src="../../../../assets/img/video.svg" alt="">
                <img class="img-video-2" src="../../../../assets/img/Vector.svg" alt="">
                <p class="prf-1">Esto es AHORRO</p>
                <p class="prf-2">Conoce como nuestro RoboAdvisor crea el mejor portafolio de inversión para ti.</p>
            </div>
        </div>
    </div>
</div>