<div class="portfolio">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="row">
                <div class="col-8 tit-profile">Conoce tu portafolio</div>
                <div class="col-4 text-right">
                    <div class="btn-portfolio center-vertical">
                        <p>
                            Estratega
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row table">
                <div class="col-6">
                    <div class="progress" data-percentage="20">
                        <span class="progress-left">
                            <span class="progress-bar"></span>
                        </span>
                        <span class="progress-right">
                            <span class="progress-bar"></span>
                        </span>
                        <div class="progress-value">
                            <div>
                                <img class="img-robot" src="../../../../assets/img/robot.svg" alt="">
                                <p class="text-progress-flio-1">RoboAdvisor</p>
                                <p class="text-progress-flio-2">10 Fondos</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row content">
                        <div class="col-6 p-0">
                            <img src="../../../../assets/img/logo.svg" alt="">
                        </div>
                        <div class="col-6 p-0">
                            <div class="btn-robot center-vertical">15%</div>
                        </div>
                        <div class="col-12 p-0">
                            <p class="prf-1">FIC Old Mutual Efectivo</p>
                        </div>
                        <div class="col-12 p-0">
                            <p class="prf-2">$240.000</p>
                        </div>
                        <div class="col-12 p-0">
                            <p class="prf-3">Tipo de activo</p>
                        </div>
                        <div class="col-12 p-0">
                            <p class="prf-4">Renta fija Depósito a la fija</p>
                        </div>
                        <div class="col-12 p-0">
                            <img class="img-robot_2" src="../../../../assets/img/btn-left.svg" alt="">
                            <img class="img-robot_3" src="../../../../assets/img/btn-left.svg" alt="">
                        </div>
                    </div> 
                </div>
                <div class="col-12">
                    <p class="prf-end">Tu  dinero se invierte de la forma más eficiente de acuerdo al perfil de riesgo asignado por nuestro RoboAdvisor.</p>
                </div>
            </div>
        </div>
    </div>
</div>